<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.home.HomeMapper"> <!-- 매퍼의 네임스페이스 설정 -->


  <select id="getAnimalSortedByName"  resultType="back.model.home.Home">
            SELECT
		        ANIMAL_ID,
		        USERS_ID,
		        FILE_ID,
		        ANIMAL_NAME,
                ANIMAL_SPECIES,
                ANIMAL_ADOPTIONDATE,
                BIRTH_DATE,
                GENDER,
                ANIMAL_MEMO,
                CREATE_DT,
                UPDATE_DT,
                CREATE_ID,
                UPDATE_ID,
                DEL_YN
		    FROM ANIMAL 
		    WHERE DEL_YN = 'N'
		    ORDER BY
            ANIMAL_NAME ASC, ANIMAL_ID ASC
    </select>
    
      <select id="getAnimalSortedByCreateDtDesc"  resultType="back.model.home.Home">
            SELECT
		        ANIMAL_ID,
		        USERS_ID,
		        FILE_ID,
		        ANIMAL_NAME,
                ANIMAL_SPECIES,
                ANIMAL_ADOPTIONDATE,
                BIRTH_DATE,
                GENDER,
                ANIMAL_MEMO,
                CREATE_DT,
                UPDATE_DT,
                CREATE_ID,
                UPDATE_ID,
                DEL_YN
		    FROM ANIMAL 
		    WHERE DEL_YN = 'N'
		    ORDER BY
            CREATE_DT ASC, ANIMAL_ID ASC
    </select>
    
    
     <select id="getPlantSortedByName" resultType="back.model.home.Home">
            SELECT
		        PLANT_ID,
				USERS_ID,
				FILE_ID,
				PLANT_NAME,
				PLANT_TYPE,
				PLANT_PURCHASE_DATE,
				PLANT_SUN_PREFERENCE,
				PLANT_GROW_STATUS,
				CREATE_ID,
				UPDATE_ID,
				CREATE_DT,
				UPDATE_DT,
				DEL_YN
		    FROM PLANT 
		    WHERE DEL_YN = 'N'
		    ORDER BY
            PLANT_NAME ASC, PLANT_ID ASC
    </select>
    
    <select id="getPlantSortedByCreateDtDesc" resultType="back.model.home.Home">
            SELECT
		        PLANT_ID,
				USERS_ID,
				FILE_ID,
				PLANT_NAME,
				PLANT_TYPE,
				PLANT_PURCHASE_DATE,
				PLANT_SUN_PREFERENCE,
				PLANT_GROW_STATUS,
				CREATE_ID,
				UPDATE_ID,
				CREATE_DT,
				UPDATE_DT,
				DEL_YN
		    FROM PLANT 
		    WHERE DEL_YN = 'N'
		    ORDER BY
            CREATE_DT ASC, PLANT_ID ASC
    </select>
	
</mapper>
